
* {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
  // background: url(https://www.desktopbackground.org/p/2013/05/09/573290_star-wars-battlefront-r2-d2-video-games-simple-backgrounds_2560x1440_h.jpg) no-repeat center center/1500px auto fixed;
  width: 100%;
}

body{
  background-color: #f6f7fa;
  height: 100%;
}
