// @import "./foundation/settings";
// @import "~foundation-sites/scss/foundation";
// @include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
  color:aqua;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
